.subckt {{netlist_name}} gnda vdda vinn vinp vout Ib
* Cascode PFET load (self-biased): M8/M7 diode-diode stack on mirror side,
* normal mirror on output side. M5/M7 are output-side (drain M5 -> source M7 -> drain M7 = vout).
* M6/M8 are mirror-side (drain M6 -> source M8 -> drain M8 = net1 = gate of M5/M7 and M6/M8).
XM5 net_out5 net_int_m vdda vdda sky130_fd_pr__pfet_01v8 l={{ M5_L }} w={{ M5_W }} m={{ M5_M }}
XM6 net_int_m net_int_m vdda vdda sky130_fd_pr__pfet_01v8 l={{ M5_L }} w={{ M5_W }} m={{ M5_M }}
XM7 vout net1 net_out5 vdda sky130_fd_pr__pfet_01v8 l={{ M7_L }} w={{ M7_W }} m={{ M7_M }}
XM8 net1 net1 net_int_m vdda sky130_fd_pr__pfet_01v8 l={{ M7_L }} w={{ M7_W }} m={{ M7_M }}
* NMOS diff pair
XM1 vout vinn net2 gnda sky130_fd_pr__nfet_01v8 l={{ M1_L }} w={{ M1_W }} m={{ M1_M }}
XM2 net1 vinp net2 gnda sky130_fd_pr__nfet_01v8 l={{ M1_L }} w={{ M1_W }} m={{ M1_M }}
* Tail / bias
XM3 net2 net3 gnda gnda sky130_fd_pr__nfet_01v8 l={{ M3_L }} w={{ M3_W }} m={{ M3_M }}
XM4 net3 net3 gnda gnda sky130_fd_pr__nfet_01v8 l={{ M3_L }} w={{ M3_W }} m={{ M4_M }}
I0 vdda net3 IBIAS
.ends {{netlist_name}}